// -------------------------------------------------------------------
//  reset_normalize.scss
// -------------------------------------------------------------------

div, h1, h2, h3, h4, h5, h6, form, ul, li, ol, dl, dt, dd, p, fieldset, pre, code, legend, blockquote, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
}

li {
  list-style: none;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

/* Embedded content */
img {
  vertical-align: top;
  line-height: 1;
}

/* Tabular data */
caption {
  padding: 0;
}

th, td {
  padding: 0;
}

/* Forms */
fieldset {
  border: 0;
}
