// -------------------------------------------------------------------
//  mixin.scss
// -------------------------------------------------------------------

// font-size-rem
// -------------------------------------------------------------------
@mixin fontsize($size) {
  font-size: ($size / 10) * 1rem;
  font-size: $size * 1px;
}

// clearfix
// -------------------------------------------------------------------
@mixin clearfix {
  zoom: 1;
  &:after {
    display: table;
    clear: both;
    content: "";
  }
  &:before {
    display: table;
    content: "";
  }
}
